*{
    /*zerar as margens*/
    margin: 0; /*margem externa zerada*/
    padding:0; /*margerm interna zerada*/
    box-sizing: border-box;
}
section{
    margin: 20px auto;/*alinha as seções ao centro*/
    width: 40%;/*largura reduzida para 70% da tela*/
    border: 1px solid silver;
    border-radius: 10px;
    padding: 10px;
}
#login label{
    display: block;
    font-family: Verdana;
    font-size: 11pt;
    margin: 5px 0;
}
#login input, #login select{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;/*margin inferior */
    font-family: Verdana;
    font-size: 11pt;
    font-weight: lighter;
    outline-color: deepskyblue;/*cor da borda quando recebe foco*/
    border-radius: 10px;/*arredondar os cantos*/
    background-color: aliceblue;
    border: 0;/*retirar a bordar*/
}
#dadospessoais label{
    font-family: Verdana;
    font-size: 11pt;
    display: block;
    padding: 5px;
}
#dadospessoais input[type=text]{
    width: 100%;
    padding: 10px;
    font-family: Verdana;
    font-size: 11pt;
    margin-bottom: 10px;
    border: 0;
    border-bottom: 1px solid silver;
    outline: nome;
}
#dadospessoais input[type=date]{
    padding: 12px;
    font-family: Verdana;
    font-size: 15pt;
    border-radius: 10px;/*arredondar os cantos*/
    background-color: aliceblue;
}
#dadospessoais input[type=date]:valid{
    background-color: aliceblue;
}
#endereco label{
    display: block;
    font-family: Verdana;
    font-size: 11pt;
    margin: 5px 0;
}
#endereco input, #endereco select{
    display: block;
    width: 100%;
    margin-bottom: 12px;
    border: 0;
    border-radius: 10px;
    background-color: aliceblue;
    outline: none;
    padding: 15px;
    font-family: Verdana;
}
#contato{
    font-family: Verdana;
    font-size: 11pt;
    text-align: center;
}
#contato input{
    padding: 10px;
    border: 0;
    border-radius: 10px;
    background-color: aliceblue;
}
#interesse{
    padding: 20px 30px 50px 30px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: Verdana;
    font-size: 11pt;
}
#interesse textarea{
    resize: none;/*não deixa a caixa ser redimencionada*/
    display: block;
    width: 50%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-family: Verdana;
    outline: aliceblue;
}
#interesse textarea::-webkit-scrollbar{
    background-color: whitesmoke;
}
#interesse textarea::-webkit-scrollbar-button{
    background-color: white;
}
#interesse textarea::-webkit-scrollbar-thumb{
    background-color: azure;
}
#interesse textarea::-webkit-scrollbar-track{
    background-color: rgb(0, 139, 139);
}
#interesse textarea::-webkit-scrollbar-button-arrows{
    background-color: rgb(0, 0, 255);
}
header{
    padding: 50px 0;
    background-color: midnightblue;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top:0;
}

header h1{
    font-family: Verdana;
    color: white;
    text-align: center;
    text-shadow: 3px 5px 5px cyan;
}
form{
    margin-top: 200px;
}
form input[type=submit]{
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    border-radius: 10px;
    background-color: dodgerblue;
    color: white;
    margin-bottom: 100px;
    display: block;
}